
.nav {
  position: sticky;
  top: 0;
}
span {
  color: black;
  font-weight: bold;
  font-size: large;
}
body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}
.box-area {
  width: 50vw;
  height: 100vh;
}

.s-l-container {
  padding-top: 25px;
}
.log-in-div {
  cursor: default;
  background: #f6f6f6;
  font-weight: 700;
  width: 25vw;
}
.log-in {
    color: #536483;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: none;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.sign-up {
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: none;
  border-radius: 4px 4px 0 0;
}
.input-cont{
  height: 6vh;
}
.sign-up-div {
  width: 25vw;
  background: #fff;
  font-weight: 700;
}
.log-in:hover {

    color: black;
    font-size: 14.1px;
  }
.form-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-address,
.password,
.first-name,
.last-name,
.phone-num {
  width: 40vw;
  height: 6vh;
  margin: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.email-address:focus,
.password:focus,
.first-name:focus,
.last-name:focus, 
.phone-num:focus{
  border-bottom-color: #007bff;
  transition-duration: 200ms;
}
.p-1 {
  text-align: center;
  font-family: "PolySans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: black;
}
.small-word {
  margin-bottom: 0.6rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: black;
}
.smaller-2 {
  font-size: 13px;
}

.btn {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #007bff;
  font-family: "PolySans", sans-serif;
  width: 35vw;
  margin-top: 1.5rem;
}

.password,
.forgot{
  margin-bottom: 1.9rem;
}
.btn:hover {
  background-color: #1b5da3;
  color: white;
}
.log-in-linking{
    text-decoration: none;
    color: #0b0b0b;
}
